<form>
    <input class="form-control" placeholder="Location" id="address" name="address" type="text">
    <button id="submit" class="my-2 w-100 btn btn-primary" type="submit">Search</button>
    <small id="result"></small>
</form>

<script src="/js/scripts.js"></script>